$color_body: #202225;
$color_light_gray: rgba(72, 75, 81, 0.8);
$color_light_gray2: rgba(72, 75, 81, 0.8);
$color_light_gray3: rgba(72, 75, 81, 1);
$color_transparent:  rgba(156, 39, 176, 0);
$color_blue_sky: #8aa5fe;
$color_transparent_black_1: rgba(0, 0, 0, 0.8);
$color_transparent_black_2: rgba(0, 0, 0, 0.7);
