@import '_color';

.body{
  background: $color_body;
}
.logo_icon{
  width: 170px;
  height: 55px;
}
.content{
  width: 80%;
  margin: 5px auto;
  min-height: 70px;
}
.footer_frame{
  width: 100%;
  margin-top: 7px;
  min-height: 150px;
  clear: both;
  background: rgba(72, 75, 81, 0.5);
}
.body_block{
  width: 100%;
  height: 2px;
  clear: both;
}

/* header */
.logo_laguage{
  width: 28px;
  height: 17px;
}
.content_frame{
  width: 100%;
  height: 75px;
  margin: 0;
  background: $color_body;
}
.language_frame{
  width: 100%;
  height: 20px;
  background: $color_light_gray;
}
.content_language{
  font-weight: bold;
  float: right;
  margin-top: -2px;
  margin-right: 20px;
  color: white;
}
.link_login{
  margin: 0 40px;
  color: white;
  font-weight: bold;
  &:hover {
    color: #8aa5fe;
    text-decoration: none;
  }
}
#logo_login{
  color: white;
  margin-left: -35px;
}
.link_menu{
  text-align: center;
  height: 55px;
  width: 150px;
  font-size: 19px;
  border: solid 1px $color_transparent;
  p{
    margin: 10px 0 0 10px;
  }
  .link_menu_content{
    color: white;
    &:hover{
      text-decoration: none;
      color: $color_blue_sky;
    }
    &:hover ul.menu li{
      background: white;
    }
  }
}

/* home */
.content_home_left{
  float: left;
  width: 75%;
}
.content_home_left_1{
  width: 100%;
  height: 1565px;
  background: $color_light_gray;
}
.content_home_left_2{
  width: 100%;
  margin-top: 10px;
  height: 300px;
  background: $color_light_gray;
}
.comtent_home_1{
  width: 95%;
  margin: auto;
  color: $color_blue_sky;
}
.content_home_text_1{
  float: left;
  font-size: 22px;
}
.content_home_link{
  float: right;
  font-size: 17px;
  margin-top: 8px;
  .home_link{
    color: $color_blue_sky;
    &:hover{
      text-decoration: none;
      color: white;
    }
  }
}
.content_home_frame_block{
  width: 95%;
  margin: auto;
  height: 1px;
  background: white;
  clear: both;
}
.content_home_frame_item_1{
  width: 98%;
  margin: auto;
}
.content_home_item_1{
  width: 166px;
  height: 232px;
  box-shadow: 1px 1px 1px $color_transparent_black_2;
  float: left;
  margin: 20px 5px 0 17px;
}
.image_item_1{
  width: 166px;
  height: 232px;
}
.frame_item_text_1{
  width: 167px;
  height: 30px;
  background:$color_transparent_black_1;
  margin-top: -30px;
  position: absolute;
  white-space: nowrap;
  .item_text_1{
    color: white;
    font-size: 16px;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 5px auto;
  }
}
.content_home_right{
  float: right;
  width: 24%;
}
.content_home_right_1{
  width: 100%;
  height: 1130px;
  background: $color_light_gray;
}
.content_home_right_2{
  margin-top: 10px;
  width: 100%;
  height: 735px;
  background: $color_light_gray;
}
.comtent_home_2{
  width: 95%;
  margin: auto;
  color: $color_blue_sky;
  border-bottom: solid 1px white;
}
.content_home_text_2{
  margin: auto;
  font-size: 22px;
  text-align: center;
}
.content_home_frame_item_2{
  width: 98%;
  margin: auto;
  .link_home_image_item_2{
    width: 98%;
    margin: auto;
    height: 100px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px $color_transparent_black_2;
  }
}
.content_home_item_2{
  width: 210px;
  height: 100px;
  float: left;
  margin: 20px 5px 0 17px;
  .block{
    clear: both;
    font-size: 17px;
    color: white;
  }
  .content_home_text_3{
    position: absolute;
    background: $color_transparent_black_2;
    height: 100px;
    width: 206px;
    margin-top: -100px;
    p{
      color: white;
      font-weight: bold;
      font-size: 22px;
      text-align: center;
      margin-top: 45px;
      text-shadow: 2px 2px 2  px $color_transparent_black_2;
    }
  }
}
.image_item_2{
  width: 90px;
  height: 100px;
  float: left;
}
.frame_item_text_2{
  width: 100px;
  height: 30px;
  margin-left: 5px;
  float: left;
  white-space: nowrap;
  .item_text_2{
    width: 99%;
    text-align: center;
    margin: 5px auto auto 10px;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color_blue_sky;
    text-decoration: none;
  }
  .item_text_2_1{
    color: white;
    white-space: normal;
    font-size: 15px;
    height: 40px;
    width: 99%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    text-align: center;
    margin: 15px auto auto 10px;
  }
}
/*movie detail*/
.detail_frame{
  min-height: 1070px;
  margin-bottom: 10px;
}
.content_detail_left{
  float: left;
  width: 75%;
  height: 500px;
}
.content_detail_left_1{
  width: 100%;
  height: 350px;
  background: $color_light_gray;
}
.content_detail_left_2{
  margin-top: 10px;
  width: 100%;
  height: 720px;
  background: $color_light_gray;
}
.content_detail_right{
  float: right;
  width: 24%;
  min-height: 735px;
}
.content_detail_right_1{
  width: 100%;
  height: 735px;
  background: $color_light_gray;
}
.detail_frame_content1{
  width: 35%;
  height: 100%;
  float: left;
}
.detail_frame_content2{
  width: 65%;
  height: 100%;
  float: right;
  margin-top: 30px;
  p{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0;
  }
  .detail_text_1{
    .detail_frame_kind{
      width: 20%;
      height: 20px;
      text-align: center;
      color: white;
      font-weight: bold;
      float: left;
      box-shadow: 1px 1px 1px 1px $color_transparent_black_2;
      background: $color_light_gray;
    }
    .detail_text_kind{
      width: 75%;
      margin-right: 10px;
      overflow: hidden;
      color: white;
      float: right;
      height: 20px;
    }
  }
  .detail_block_1{
    width: 100%;
    height: 20px;
    clear: both;
  }
  .detail_text_2{
    .detail_frame_kind{
      width: 20%;
      height: 20px;
      text-align: center;
      color: white;
      font-weight: bold;
      float: left;
      box-shadow: 1px 1px 1px 1px $color_transparent_black_2;
      background: $color_light_gray;
    }
    .detail_text_kind{
      width: 75%;
      margin-right: 10px;
      overflow: hidden;
      color: white;
      float: right;
      height: 20px;
    }
  }
  .detail_movie_link{
    width: 150px;
    height: 40px;
    border: solid 1px white;
    float: left;
    margin: 35px 0px;
    border-radius: 15px;
    font-size: 21px;
    color: $color_blue_sky;
    background: $color_transparent;
    &:hover{
      border: solid 1px $color_blue_sky;
    }
    .detail_text_movie_link{
      margin-left: 22px;
      margin-top: 4px;
    }
    .detail_movie_link_to{
      text-decoration: none;
      color: $color_blue_sky;
    }
  }
}
.detail_frame_text_2{
  width: 100%;
  height: 100%;
  float: right;
  margin-top: 10px;
  text-align: center;
  p{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 15px 0;
    border-bottom: solid 1px white;
  }
  .detail_content_movie_text{
    width: 95%;
    margin: auto;
    color: white;
    word-break: break-all;
  }
}
.logo_detail{
  height: 280px;
  float: left;
  margin: 30px 35px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px $color_transparent_black_2;
}
/*login*/
.login_frame{
  width: 450px;
  height: 350px;
  background: $color_light_gray;
  margin: 38px auto;
  border-radius: 5px;
  text-align: center;
  box-shadow: 1px 1px 1px 1px $color_transparent_black_2;
  .login_text_1{
    width: 100%;
    text-align: center;
    p{
      font-weight: bold;
      color: white;
      font-size: 30px;
    }
  }
  .login_frame_text_left{
    width: 40%;
    margin-left: 15px;
    height: 100px;
    margin-top: 20px;
    float: left;
    .login_text_2{
      color: white;
      font-size: 20px;
      float: right;
      margin-right: 20px;
    }
    .login_text_3{
      margin-top: 30px;
      color: white;
      font-size: 20px;
      float: right;
      margin-right: 20px;
    }
  }
  .login_frame_text_right{
    width: 50%;
    height: 100px;
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    .login_input_text_1{
      width: 100%;
      height: 30px;
      background: $color_transparent;
      outline: none;
      color: white;
      border: solid 1px white;
      border-radius: 5px;
      text-indent: 15px;
    }
    .login_input_text_2{
      margin-top: 30px;
      width: 100%;
      height: 30px;
      background: $color_transparent;
      outline: none;
      border: solid 1px white;
      color: white;
      border-radius: 5px;
      text-indent: 15px;
    }
  }
  .login_button_login{
    width: 80%;
    height: 40px;
    margin: 25px auto;
    font-weight: bold;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    color: white;
    background: $color_blue_sky;
  }
  .login_frame_checkbox{
    color: white;
    float: right;
    margin-right: 40px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 320px){
  /* header */
  .nav_big{
    display: none;
  }
  .nav_small{
    display: block;
    width: 100%;
    height: 55px;
    border-top: solid 1px white;
    background: $color_light_gray;
  }
  .logo{
    width: 170px;
    height: 55px;
    margin: auto;
  }
  .search_frame{
    border-radius: 7px;
    width: 150px;
    height: 37px;
    border: solid 1px white;
    float: right;
    margin: -47px 12px;
    .search_text{
      height: 37px;
      width: 100px;
      border: none;
      outline: none;
      color: white;
      margin-left: 15px;
      float: left;
      font-size: 17px;
      background: $color_transparent;
    }
    .button_search{
      border: none;
      outline: none;
      background: $color_transparent;
      i{
        color: white;
        font-size: 20px;
        float: right;
        margin: 5px -23px;
      }
    }
  }
  ul.link_menu_small{
    float: left;
    margin: 5px 0px;
  }
  ul.link_menu_small li{
    display: inline-block;
    width: 70px;
    height: 50px;
    &:hover ul.menu_small_1{
      display: block;
    }
  }
  .link_menu_logo{
    font-size: 30px;
    width: 70px;
    height: 50px;
    color: white;
    i{
      margin-left: 15px;
    }
  }
  ul.menu_small_1{
    display: none;
    position: absolute;
    margin-left: -40px;
    width: 100%;
    height: 50px;
    background: $color_light_gray2;
  }
  ul.menu_small_1 li{
    display: inline-block;
    height: 55px;
    width: 150px;
  }
}

@media screen and (min-width: 870px){
  /* header */
  .nav_big{
    display: block;
  }
  .nav_small{
    display: none;
  }
  .logo{
    width: 170px;
    height: 55px;
    float: left;
  }
  ul.menu{
    width: 100%;
    height: 55px;
    border-top: solid 1px white;
    background: $color_light_gray;
  }
  ul.menu li{
    height: 55px;
    width: 150px;
    display: inline-block;
    &:hover ul{
      display: block;
    }
  }
  ul.menu li ul{
    position: absolute;
    background: $color_light_gray2;
    display: none;
    width: 170px;
    height: 100px;
  }
  ul.menu li ul li{
    display: block;
    margin-top: 15px;
    margin-left: -10px;
  }
  ul.menu li ul.menu_movie_genre{
    width: 600px;
    height: 180px;
    margin-left: -240px;
  }
  ul.menu_movie_genre li{
    width: 600px;
    height: 230px;
  }
  ul.menu_movie_genre li table{
    width: 100%;
  }
  .link_menu_1{
    color: white;
    text-align: center;
    font-size: 17px;
    margin-right: 23px;
    &:hover{
      text-decoration: none;
      color: #8aa5fe;;
    }
  }
  .link_menu_2{
    color: white;
    font-size: 17px;
    &:hover{
      text-decoration: none;
      color: #8aa5fe;;
    }
  }
  .search_frame{
    border-radius: 7px;
    width: 230px;
    height: 37px;
    border: solid 1px white;
    float: right;
    margin: -55px 12px;
    .search_text{
      height: 37px;
      width: 170px;
      border: none;
      outline: none;
      color: white;
      margin-left: 15px;
      float: left;
      font-size: 17px;
      background: $color_transparent;
    }
    .button_search{
      border: none;
      outline: none;
      background: $color_transparent;
      i{
        color: white;
        font-size: 20px;
        float: right;
        margin: 5px -23px;
      }
    }
  }
}

@media all and (min-width: 1280px){
  /* header */
  .nav_big{
    display: block;
  }
  .nav_small{
    display: none;
  }
  .logo{
    width: 170px;
    height: 55px;
    float: left;
  }
  ul.menu{
    width: 100%;
    height: 55px;
    border-top: solid 1px white;
    background: $color_light_gray;
  }
  ul.menu li{
    height: 55px;
    width: 150px;
    display: inline-block;
    &:hover ul{
      display: block;
    }
  }
  ul.menu li ul{
    position: absolute;
    background: $color_light_gray2;
    display: none;
    width: 170px;
    height: 100px;
  }
  ul.menu li ul li{
    display: block;
    margin-top: 15px;
    margin-left: -10px;
  }
  ul.menu li ul.menu_movie_genre{
    width: 600px;
    height: 180px;
    margin-left: -240px;
  }
  ul.menu_movie_genre li{
    width: 600px;
    height: 230px;
  }
  ul.menu_movie_genre li table{
    width: 100%;
  }
  .link_menu_1{
    color: white;
    text-align: center;
    font-size: 17px;
    margin-right: 23px;
    &:hover{
      text-decoration: none;
      color: #8aa5fe;;
    }
  }
  .link_menu_2{
    color: white;
    font-size: 17px;
    &:hover{
      text-decoration: none;
      color: #8aa5fe;;
    }
  }
  .search_frame{
    border-radius: 7px;
    width: 230px;
    height: 37px;
    border: solid 1px white;
    float: right;
    margin: -55px 12px;
    .search_text{
      height: 37px;
      width: 170px;
      border: none;
      outline: none;
      color: white;
      margin-left: 15px;
      float: left;
      font-size: 17px;
      background: $color_transparent;
    }
    .button_search{
      border: none;
      outline: none;
      background: $color_transparent;
      i{
        color: white;
        font-size: 20px;
        float: right;
        margin: 5px -23px;
      }
    }
  }
}
/* footer */
ul.menu_footer{
  width: 100%;
  min-height: 65px;
  text-align: center;
}
ul.menu_footer li{
  height: 55px;
  width: 150px;
  margin-top: 20px;
   display: inline-block;
   &:hover ul{
    display: block;
  }
}
.logo_footer{
  width: 170px;
  height: 55px;
  margin: 20px 45% 0 45%;
  float: left;
}
.content_frame_footer{
    width: 80%;
    min-height: 150px;
    background: $color_light_gray;
    margin: auto;
}
.contact{
  margin-left: 5%;
  padding-bottom: 10px;
  p{
    text-align: center;
    color: white;
    font-size: 13pxs;
  }
}
.content_admin{
  width: 100%;
  min-height: 500px;
  background: $color_light_gray;
}

/*movie type*/
.content_movie_type_left{
  float: left;
  width: 75%;
  height: 1110px;
}
.movie_type_frame{
  background: $color_light_gray;
  width: 100%;
  height: 1110px;
}
.pagination{
  margin: 10px 50px !important;
}
.movie_type_text{
  color: $color_blue_sky;
  font-size: 25px;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin: auto;
  border-bottom: solid 1px white;
}
.movie_type_frame_content{
  width: 100%;
  height: 1010px;
}
.listfilm_frame{
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px $color_transparent_black_2;
  border: solid 1px;
  margin-top: 5px;
  min-height: 400px;
  background: $color_light_gray;
}
.list{
  width: 90%;
  margin-top: 35px;
  margin-bottom: 100px;
  margin-left: 45px;
  th{
    color: white;
    text-align: center;
  }
  .set_padding{
    padding-top: 30px;
  }
}
.title{
  float: left;
  width: 400px;
  color: white;
  font-size: 30px;
  margin-top: 35px;
  margin-left: 40%;
  margin-bottom: 20px;
  font-weight: bold;
}
.set_button{
  float: right;
  margin-top: 20px;
  margin-right: 55px;
}
.size_image{
  width: 75px;
  height: 75px;
}
.paging{
  margin-left: 30%;
  margin-bottom: -30px;
}
/* Movie */

.frame_add_movies{
  border: solid 1px;
  margin-top: 5px;
  min-height: 400px;
  background: $color_light_gray;
  margin-bottom: -5px;
}
.set_text{
  padding-left: 80px;
  color: white;
}
.table_form{
  margin: 40px auto;
  width: 90%;
}
.set_padding{
  padding-top: 15px;
}
.set_up_picture{
  padding-left: 207px;
  padding-top: 15px
}
.add{
  margin-left: 45%;
}
.set_td1{
  width: 200px;
}
.set_td2{
  width: 700px;
}
.set_content{
  padding: 15px 13px
}

/* watch movie */
.watch_movie_frame_1{
  width: 990px;
  height: 567px;
  margin: 5px auto 10px auto;
  background: $color_light_gray;
  iframe {
    width: 990px;
    height: 527px;
    border: none;
    outline: none;
    margin: auto;
    display:block;
  }
  .watch_movie_text{
    width: 990px;
    height: 40px;
    background: $color_light_gray3;
    border-radius: 4px;
    float: right;
    text-align: center;
    .watch_movie_text_2{
      margin-top: 5px;
      .watch_movie_text_1{
        font-weight: bold;
        font-size: 19px;
        text-decoration: none;
        color: $color_blue_sky;
        &:hover{
          color: white;
        }
      }
    }
  }
}
.watch_movie_frame_3{
  width: 990px;
  min-height:50px;
  border-radius: 4px;
  margin: 5px auto 10px auto;
  background: $color_light_gray;
  .watch_movie_text_episodes{
    width: 100%;
  }
  .watch_movie_button_episodes{
    clear: both;
    width: 90%;
    margin: auto;
    .watch_movie_buton{
      border-radius: 2px;
      border: none;
      width: 70px;
      height: 25px;
      background: $color_light_gray3;
      box-shadow: 1px 1px 1px 1px $color_transparent_black_1;
      .watch_movie_linh_to{
        color: white;
        text-decoration: none;
        &:hover{
          color: $color_blue_sky;
        }
      }
    }
    form{
      width: 70px;
      height: 25px;
      margin-right: 5px;
      margin-bottom: 5px;
      float: left;
    }
  }
  .watch_movie_block{
    width: 100%;
    height: 15px;
    clear: both;
  }
  p{
    color: $color_blue_sky;
    font-size: 19px;
    font-weight: bold;
    float: left;
    margin: 7px 16px;
  }
}

/*comment*/
.watch_movie_frame_2{
  width: 990px;
  min-height:100px;
  border-radius: 4px;
  margin: 5px auto -5px auto;
  background: $color_light_gray;
  .comment_text{
    color: $color_blue_sky;
    border-bottom: solid 1px white;
    width: 95%;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
  }
  .comment_movie_block{
    width: 95%;
    height: 15px;
  }
  .content_comment_frame_1{
    width: 95%;
    height: 85%;
    margin: auto;
  }
  .content_comment_frame_2{
    width: 95%;
    min-height: 100px;
    margin: auto;
  }
  .pagination_comment_frame{
    width: 95%;
    height: 50px;
    margin: auto;
  }
}
.item_comment_frame{
  width: 100%;
  box-shadow: 1px 1px 1px 1px $color_transparent_black_1;
  min-height: 100px;
  background: $color_light_gray3;
  .content_name_comment_frame{
    width: 100%;
  }
  p{
    color: $color_blue_sky;
  }
  .image_comment_frame{
    width: 150px;
    height: 150px;
    margin: auto;
    clear: both;
    .image_comment{
      width: 100%;
    height: 100%;
    }
  }
  .logo_comment_frame{
    padding: 10px;
    width: 75px;
    height: 75px;
    float: left;
    .logo_comment{
      width: 75px;
      height: 75px;
    }
  }
  .like_delete_comment_frame{
    width: 80%;
    height: 20px;
    clear: both;
    margin: auto;
    .delete_comment{
      text-decoration: none;
      color: orange;
      font-weight: bold;
      float: right;
      margin-right: 18px;
      &:hover{
        color: red;
      }
    }
  }
  .block_comment{
    width: 70%;
    margin-bottom: 10px;
    height: 10px;
  }
  .input_comment_frame_1{
    padding: 10px;
    width: 90%;
    min-height: 60px;
    float: left;
    margin-left: 10px;
    p{
      color: $color_blue_sky;
      font-weight: bold;
      font-size: 17px;
    }
    .input_comment{
      width: 100%;
      min-height: 40px;
      outline: none;
      color: white;
    }
  }
}
.input_comment_frame{
  width: 100%;
  min-height: 100px;
  .logo_comment_frame{
    width: 75px;
    height: 75px;
    float: left;
    .logo_comment{
      width: 75px;
      height: 75px;
    }
  }
  .input_comment_frame_1{
    width: 90%;
    min-height: 60px;
    float: left;
    margin-left: 10px;
    p{
      color: $color_blue_sky;
      font-weight: bold;
      font-size: 17px;
    }
    .input_comment{
      width: 100%;
      height: 40px;
      outline: none;
    }
  }
  .button_comment_frame{
    clear: both;
    width: 100%;
    height: 30px;
    .button_comment{
      border: none;
      outline: none;
      float: right;
      margin-right: 10px;
      background: $color_blue_sky;
      color: white;
      width: 70px;
    }
    .button_image_comment{
      color: white;
      float: left;
      margin-left: 85px;
    }
  }
}
.danger_comment_frame{
  color: red;
  opacity: 0.8;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  padding: 25px;
}

