<!DOCTYPE html>
<html>
  <head>
    <title>RubyAnimeOnline01</title>
    <%= render "layouts/rails_default" %>
  </head>

  <body class="body">
    <%= render "layouts/header" %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
